<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.name %></h1>
            <h2 class="subheading"><%= post.message %></h2>
            <span class="meta">Posted by
              <a href="#">Mehmet Urmaç</a>
              <%= post.dateCreated.toLocaleString('en-En', {month: 'long'}) %>
              <%= post.dateCreated.getDate() %>,
              <%= post.dateCreated.getFullYear() %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> <%= post.message %> </p>
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <a href="/posts/edit_post/<%= post._id %>"><button class="btn btn-primary" >Update Details</button></a>
        <a href="/posts/<%= post._id %>?_method=DELETE" onclick="confirm('Are you sure delete the post?')"><button class="btn btn-danger" >Delete Post</button></a>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>

</body>

</html>
